$background: #fdb304;
$background-secondary: #ffffff;

$text-description: rgba(0, 0, 0, 0.6);
$text-body: rgba(0, 0, 0, 0.9);
$text-accent: #000000;

$background-ui-item: rgba(255, 255, 255, 0.7);
$background-tracker-field: #ffffff;
$background-tracker-field-alias: rgba(0, 0, 0, 0.7);


$background-ui-button-one-active: #475fff;
$background-ui-button-two-active: #603ce4;

$background-ui-button-active: #475fff;
$background-ui-button-active-focus: #E6C757;
$text-ui-button-active: #fefcff;

$background-ui-button-disabled: #E0E6E9;
$text-ui-button-disabled: rgba(0, 0, 0, 0.3);

$text-link: #3a7eff;

$background-ui-input: rgba(0, 0, 0, 0.05);
$text-disabled: rgba(0, 0, 0, 0.4);
$text-error: #FF5757;
$background-ui-input-error: rgba(255, 87, 87, 0.3);

$fill-icon: #4c4c4c;

$circle-color-from: #EB3C3C;
$circle-color-to: #227BE3;

$ui-divider: rgba(0, 0, 0, 0.1);

$background-ui-button-secondary: #E0E6E9;
$background-ui-button-secondary-focus: #BDCFD9;
$color-ui-button-secondary: rgba(0, 0, 0, 0.8);